---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/parks?api_key=<DONT_USE_MY_API_KEY>&stateCode=TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '987'
      Last-Modified:
      - Mon, 14 Dec 2020 00:30:05 GMT
      Etag:
      - '"NDZkMTRjMDAwMDAwMDAwMFNvbHI="'
      Allow:
      - Get
    body:
      encoding: UTF-8
      string: "\t\r\n{\r\n\r\n\"total\":\"16\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",\t\r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"2ED6E071-57AA-4B08-8DDA-5CB09FBB75C8\"\r\n\r\n,\"url\":\"https://www.nps.gov/anjo/index.htm\"\r\n\r\n,\"fullName\":\"Andrew
        Johnson National Historic Site\"\t\t\t\r\n\r\n,\"parkCode\":\"anjo\"\r\n\r\n,\"description\":\"Andrew
        Johnson's complex presidency (1865-69) illustrates the Constitution at work
        following the Civil War. As the President and Congress disagreed on Reconstruction
        methods, the Constitution served as their guide on balance of powers, vetoes,
        and impeachment. In the end, it evolved as a living document with pivotal
        amendments on freedom, citizenship, and voting rights - topics still vital
        today.\"\r\n\r\n,\"latitude\":\r\n\r\n\"36.15624509\" \r\n\r\n,\"longitude\":\r\n\r\n\"-82.83709021\"
        \r\n\r\n,\"latLong\":\"lat:36.15624509, long:-82.83709021\"\r\n\r\n,\"activities\":[{\"id\":\"B33DC9B6-0B7D-4322-BAD7-A13A34C584A3\",\"name\":\"Guided
        Tours\"},{\"id\":\"DF4A35E0-7983-4A3E-BC47-F37B872B0F25\",\"name\":\"Junior
        Ranger Program\"},{\"id\":\"C8F98B28-3C10-41AE-AA99-092B3B398C43\",\"name\":\"Museum
        Exhibits\"}]\r\n,\"topics\":[{\"id\":\"28AEAE85-9DDA-45B6-981B-1CFCDCC61E14\",\"name\":\"African
        American Heritage\"},{\"id\":\"607D41B0-F830-4C07-A557-BCEF880A3929\",\"name\":\"Burial,
        Cemetery and Gravesite\"},{\"id\":\"570E8E93-3A49-45FB-B11A-F2F984EAC862\",\"name\":\"National
        Cemetery\"},{\"id\":\"D9FC6D14-F8C7-4EBA-86EA-DFD99B6BB4F5\",\"name\":\"Enslavement\"},{\"id\":\"F669BC40-BDC4-41C0-9ACE-B2CD25373045\",\"name\":\"Presidents\"},{\"id\":\"BAA85463-A96E-4CF4-A260-290D195423DB\",\"name\":\"Reconstruction\"},{\"id\":\"27BF8807-54EA-4A3D-B073-AA7AA361CD7E\",\"name\":\"Wars
        and Conflicts\"},{\"id\":\"A8E54356-20CD-490E-B34D-AC6A430E6F47\",\"name\":\"Civil
        War\"}]\r\n,\"states\":\"TN\"\r\n\r\n,\"contacts\":{\"phoneNumbers\":[{\"phoneNumber\":\"4236383551\",\"description\":\"\",\"extension\":\"\",\"type\":\"Voice\"},{\"phoneNumber\":\"4237980754\",\"description\":\"\",\"extension\":\"\",\"type\":\"Fax\"}],\"emailAddresses\":[{\"description\":\"\",\"emailAddress\":\"anjo_information@nps.gov\"}]}\r\n,\"entranceFees\":[{\"cost\":\"0.00\",\"description\":\"All
        areas of the site are free, but tickets are required for the Presidential
        Homestead tour. These tickets are available at the Visitor Center.\",\"title\":\"Free
        Admission\"}]\r\n,\"entrancePasses\":[{\"cost\":\"0.00\",\"description\":\"As
        the Andrew Johnson National Historic Site is free, there is no distribution
        of or need for annual passes.\",\"title\":\"Entrance passes not available\"}]\r\n,\"fees\":[]\r\n,\"directionsInfo\":\"GPS
        The GPS setting for Andrew Johnson NHS may be listed as 121 Monument Ave,
        which is the park HQ in the National Cemetery. To arrive at the Visitor Center,
        use 101 North College Street, Greeneville, TN. Plane The closest airport is
        the Tri-Cities Regional Airport, 43 miles NE of Greeneville. From the airport,
        take I-81 South to exit 36 and follow the signs to Greeneville. Car From I-81S
        take exit 36 to Rt. 172 south to Greeneville. From I-81N take exit 23 to Rt.
        11E north to Greeneville.\"\r\n\r\n,\"directionsUrl\":\"http://www.nps.gov/anjo/planyourvisit/directions.htm\"\r\n\r\n,\"operatingHours\":[{\"exceptions\":[{\"exceptionHours\":{},\"startDate\":\"2020-01-01\",\"name\":\"Closed
        New Year's Day\",\"endDate\":\"2020-01-01\"},{\"exceptionHours\":{},\"startDate\":\"2020-11-26\",\"name\":\"Closed
        for Thanksgiving\",\"endDate\":\"2020-11-26\"},{\"exceptionHours\":{},\"startDate\":\"2020-12-25\",\"name\":\"Closed
        for Christmas Day\",\"endDate\":\"2020-12-25\"}],\"description\":\"The Andrew
        Johnson NHS has transitioned to winter hours. The site is currently open from
        9:00 a.m. until 4:00 p.m. Tuesday-Saturday. Due to the limited space inside
        the president's Homestead, a self-guided tour has been implemented. The Homestead
        is open Tuesday-Saturday from 9:30-11:30 am and again from 1:30-3:30 pm.\",\"standardHours\":{\"wednesday\":\"9:00AM
        - 4:00PM\",\"monday\":\"Closed\",\"thursday\":\"9:00AM - 4:00PM\",\"sunday\":\"Closed\",\"tuesday\":\"9:00AM
        - 4:00PM\",\"friday\":\"9:00AM - 4:00PM\",\"saturday\":\"9:00AM - 4:00PM\"},\"name\":\"Andrew
        Johnson National Historic Site\"}]\r\n,\"addresses\":[{\"postalCode\":\"37743\",\"city\":\"Greeneville\",\"stateCode\":\"TN\",\"line1\":\"Andrew
        Johnson NHS\",\"type\":\"Physical\",\"line3\":\"\",\"line2\":\"101 North College
        Street\"},{\"postalCode\":\"37743\",\"city\":\"Greeneville\",\"stateCode\":\"TN\",\"line1\":\"Andrew
        Johnson National Historic Site\",\"type\":\"Mailing\",\"line3\":\"\",\"line2\":\"121
        Monument Ave.\"}]\r\n,\"images\":[{\"credit\":\"NPS Photo/Kendra Hinkle\",\"title\":\"Andrew
        Johnson Homestead\",\"altText\":\"Andrew Johnson Homestead\",\"caption\":\"Home
        of the 17th President from 1851-1875\",\"url\":\"https://www.nps.gov/common/uploads/structured_data/3C799AA0-1DD8-B71B-0BBC807758D5962D.jpg\"},{\"credit\":\"NPS
        Photo/Kendra Hinkle\",\"title\":\"Early Home\",\"altText\":\"Andrew Johnson's
        Early Home\",\"caption\":\"The Johnson family home from the 1830s - 1851\",\"url\":\"https://www.nps.gov/common/uploads/structured_data/3C799BEA-1DD8-B71B-0B8422C716BCACED.jpg\"},{\"credit\":\"NPS
        Photo/Kendra Hinkle\",\"title\":\"Andrew Johnson Monument\",\"altText\":\"Andrew
        Johnson Monument\",\"caption\":\"Gravestone of President and Mrs. Andrew Johnson\",\"url\":\"https://www.nps.gov/common/uploads/structured_data/3C799D80-1DD8-B71B-0B0C06F926B1D548.jpg\"}]\r\n,\"weatherInfo\":\"There
        are four distinct seasons in East Tennessee, but temperature and weather conditions
        can vary widely within those seasons. Spring and Fall are generally pleasant
        with frequent rain showers. Summer and Winter ranges can be extreme. The President's
        Homestead is not climate controlled and may be closed at times during excessive
        highs or lows in the summer and winter.\"\r\n\r\n,\"name\":\"Andrew Johnson\"\r\n\r\n,\"designation\":\"National
        Historic Site\"\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"FAEF5684-83A4-4CF2-A701-60CF8D4014BD\"\r\n\r\n,\"url\":\"https://www.nps.gov/appa/index.htm\"\r\n\r\n,\"fullName\":\"Appalachian
        National Scenic Trail\"\t\t\t\r\n\r\n,\"parkCode\":\"appa\"\r\n\r\n,\"description\":\"The
        Appalachian Trail is a 2,180+ mile long public footpath that traverses the
        scenic, wooded, pastoral, wild, and culturally resonant lands of the Appalachian
        Mountains. Conceived in 1921, built by private citizens, and completed in
        1937, today the trail is managed by the National Park Service, US Forest Service,
        Appalachian Trail Conservancy, numerous state agencies and thousands of volunteers.\"\r\n\r\n,\"latitude\":\r\n\r\n\"40.41029575\"
        \r\n\r\n,\"longitude\":\r\n\r\n\"-76.4337548\" \r\n\r\n,\"latLong\":\"lat:40.41029575,
        long:-76.4337548\"\r\n\r\n,\"activities\":[{\"id\":\"13A57703-BB1A-41A2-94B8-53B692EB7238\",\"name\":\"Astronomy\"},{\"id\":\"D37A0003-8317-4F04-8FB0-4CF0A272E195\",\"name\":\"Stargazing\"},{\"id\":\"A59947B7-3376-49B4-AD02-C0423E08C5F7\",\"name\":\"Camping\"},{\"id\":\"4A58AF13-E8FB-4530-B41A-97DF0B0C77B7\",\"name\":\"Backcountry
        Camping\"},{\"id\":\"C11D3746-5063-4BD0-B245-7178D1AD866C\",\"name\":\"Compass
        and GPS\"},{\"id\":\"89DA72D0-16D6-4C1C-89D4-103D94F1F63D\",\"name\":\"Orient[...]
